@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
:root {
  --purple: #6d31ed;
  --bg-dark: #171a1f;
  --navy-blue: #1a1a2e;
  --dark: #0e0b16;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--bg-dark);
  overflow: hidden;
}

/* component custom styles */
.authWrapper {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
  background-image: radial-gradient(
      circle at 20% 20%,
      rgba(226, 93, 148, 0.226) 6%,
      rgba(236, 181, 204, 0) 20%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(22, 189, 86, 0.2) 3%,
      rgba(186, 215, 197, 0) 25%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(253, 253, 150, 0.1) 3%,
      rgba(253, 253, 150, 0) 20%
    ),
    radial-gradient(
      circle at 70% 80%,
      rgba(14, 21, 90, 0.479) 2%,
      rgba(144, 202, 249, 0) 20%
    ),
    radial-gradient(
      circle at 30% 80%,
      rgba(255, 192, 203, 0.1) 5%,
      rgba(255, 192, 203, 0) 20%
    );
  background-size: cover;
  background-attachment: fixed;
}

.authInnerWrapper {
  padding: 16px 16px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 450px;
  min-width: fit-content;
  overflow-y: auto;
  z-index: 2;
  @media (min-width: 1440px) {
    max-width: 600px;
    padding: 70px 30px;
  }
  @media (max-width: 991px) {
    right: 0;
    left: auto;
  }
}

.sceneWrapper {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
  @media (max-width: 991px) {
    display: none;
  }
}
.splineScene {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards 1s;
}
.chatWrapper {
  background-color: var(--bg-dark);
  color: rgb(214, 214, 214);
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.spinner {
  border: 10px solid var(--purple);
  border-top: 10px solid var(--navy-blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

/* media queries for responsive design */
.burgerMenu {
  @media (min-width: 991px) {
    display: none;
  }
}
.chatInnerWrapper {
  @media (max-width: 991px) {
    padding: 8px !important;
  }
}
.sidebarWrapper {
  @media (max-width: 991px) {
    position: fixed;
    z-index: 2;
    width: 80%;
    padding-left: 8px;
    left: 0px;
    background-color: #1f2937;
    border-radius: 0 !important;
  }
}
.sidebarHeader {
  @media (max-width: 991px) {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
.sidebarWrapper.hidden {
  display: none;
}

/* animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
